]777;notify;Command completed;crontab -e]0;centos@jrvs-remote-desktop-centos7:~/dev/jarvis_data_eng_OsamagbeMichael/linux_sql/scripts]7;file://jrvs-remote-desktop-centos7/home/centos/dev/jarvis_data_eng_OsamagbeMichael/linux_sql/scripts